@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #231f20;
  --primary-color: #212a42;
  --primary-bg: #0d4091;
  --secondary-color: #2d54a4;
  --tertiary-color: #061985;
  --text-white: #fff;
  --gray: #000000b3;
  --detail-btn: #0d6efd;
  --secondary-gray: #b3b8c1;
  --secondary-bg: #185ba9;
  --tertiary-gray: #eeeeee;
  --btn-bg: #198754;
  --btn-hov-bg: #157347;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 75%;
  @apply scroll-smooth;
}

body {
  font-family: "Linn", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1;
  min-height: 100vh;
}

.table-row-red {
  color: #f92d2d;
  // &:hover td {
  //   background-color: #fe8a8a !important;
  // }
}

.table-row-yellow {
  color: #f39c13;
  // &:hover td {
  //   background-color: #fcfc96 !important;
  // }
}

.active {
  @apply text-slate-500;
  @apply bg-white;
  @apply border-b-2;
  @apply border-slate-500;
}

.table-scroll {
  @media only screen and (max-width: 64em) {
    overflow-x: auto;
  }
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}
.ant-table-cell {
  padding: 0.5rem 1rem !important;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.animate__pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.ant-card-body {
  padding: 0 !important;
}

.custom-group:hover {
  cursor: pointer;
  .spin-border {
    animation: spin 3s linear infinite;
    border: 5px dotted #fff;
    transition: border-style 2s linear;
    // clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
  .inner-btn {
    background: #f92d2d;
  }
}
@keyframes border-change {
  0% {
    border-style: solid;
    border-width: 5px;
  }
  100% {
    border-style: dotted;
    border-width: 5px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.move-to-top {
  bottom: 10%;
  animation: move-to-top 2s linear;
  transition: all 2s linear;
}
.move-to-bottom {
  bottom: -10%;
  animation: move-to-bottom 3s linear;
  transition: all 2s linear;
}

@keyframes move-to-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes move-to-bottom {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
